@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container mt-5 main">
    <div class="row">
        <!-- Left Side: Text -->
        <div class="col-md-6">
            <h2>About Our Company</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor libero vel justo
                laoreet, id varius leo volutpat. Nulla facilisi. Fusce auctor accumsan leo.
            </p>
            <p>
                Integer auctor, tortor in cursus mattis, quam velit lobortis dui, nec tincidunt leo ex
                at nunc. Duis malesuada consectetur turpis, vitae euismod justo rhoncus vel.
            </p>
        </div>

        <!-- Right Side: Image -->
        <div class="col-md-6">
            <img src="~/images/AboutUs.jpg" alt="Project Image" class="img-fluid">
        </div>
    </div>
</div>