@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem quaerat obcaecati nam quo asperiores adipisci, quisquam dicta debitis veritatis sed aspernatur quas facere harum ullam, sequi ducimus cum ipsum odit suscipit labore inventore. In enim nulla officiis! Similique numquam asperiores ducimus optio doloremque officia minus aliquid iusto velit nisi nobis porro, facilis accusantium error tenetur natus eius beatae laudantium voluptatem enim alias? Porro sint itaque, voluptas quis voluptatem adipisci, possimus harum dolorem aut assumenda doloremque dolorum corrupti consectetur! Eos laboriosam aliquam expedita velit mollitia, quisquam corporis tempore odit recusandae, hic ipsum praesentium incidunt quae omnis. Quaerat similique quam earum incidunt!</p>
</div>